
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/v17/Browse.VC.db-shm
Project1/.vs/Project1/v17/Browse.VC.db-wal
Project1/.vs/Project1/v17/Browse.VC.opendb
.vs/CIS427Project1/v17/Browse.VC.opendb
