
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/v17/Browse.VC.db-shm
Project1/.vs/Project1/v17/Browse.VC.db-wal
Project1/.vs/Project1/v17/Browse.VC.opendb
.vs/CIS427Project1/v17/Browse.VC.opendb
.vs/CIS427Project1/FileContentIndex/7d1959c8-edf9-44af-8a30-cf526e163faf.vsidx
.vs/CIS427Project1/FileContentIndex/f3c75d9b-8be4-4907-9430-651f7619f00e.vsidx
.vs/CIS427Project1/FileContentIndex/edd0870b-3bd2-41e4-91e4-05ecd42cd570.vsidx
.vs/CIS427Project1/FileContentIndex/42786254-b48c-4f4e-81cf-0ec45eda6995.vsidx
.vs/CIS427Project1/FileContentIndex/12fba130-b993-4f5a-84fb-65d065c37ea2.vsidx
.vs/CIS427Project1/FileContentIndex/ce78c43f-2630-4ae8-99e3-578660cad2f3.vsidx
